<launch>
   <!-- launch video stream -->
   <include file="$(find video_stream_opencv)/launch/camera.launch" >
        <!-- node name and ros graph name -->
        <arg name="camera_name" value="camera" />
        <!-- means video device 0, /dev/video0 -->
        <arg name="video_stream_provider" value="/home/ubuntu/Downloads/hikakin.mp4" />
        <!-- set camera fps to (if the device allows) -->
        <arg name="set_camera_fps" value="30"/>
        <!-- set buffer queue size of frame capturing to -->
        <arg name="buffer_queue_size" value="100" />
        <!-- throttling the querying of frames to -->
        <arg name="fps" value="30" />
        <!-- setting frame_id -->
        <arg name="frame_id" value="camera" />
        <!-- camera info loading, take care as it needs the "file:///" at the start , e.g.:
        "file:///$(find your_camera_package)/config/your_camera.yaml" -->
        <arg name="camera_info_url" value="" />
        <!-- flip the image horizontally (mirror it) -->
        <arg name="flip_horizontal" value="false" />
        <!-- flip the image vertically -->
        <arg name="flip_vertical" value="false" />
        <!-- visualize on an image_view window the stream generated -->
        <arg name="visualize" value="true" />
   </include>

   <!-- Video resizing -->
      <node pkg="nodelet" type="nodelet" args="standalone image_proc/resize" name="resize_img">
      <!-- remap input topics -->
      <remap from="image" to="camera/image_raw"/>
      <remap from="camera_info" to="camera/camera_info"/>
      <!-- remap output topics -->
      <remap from="resize_image/image" to="camera_resize/image_raw"/>
      <remap from="resize_image/camera_info" to="camera_resize/camera_info"/>
   </node>
      <!-- Dynamic reconfigure the resizing nodelet -->
      <node name="$(anon dynparam)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters resize_img">
      <param name="use_scale" type="int" value="0" />
      <param name="width" type="int" value="640" />
      <param name="height" type="int" value="480" />
 </node>
</launch>
